@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh; /* Ocupa el 100% de la pantalla */
  overflow-x: hidden; /* Evita desbordamiento horizontal */
  margin: 0; /* Elimina cualquier margen extra */
}

/* ----------------------------------------------
 * Animación text-focus-in (entrada con desenfoque)
 * ---------------------------------------------- */
 @keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.text-focus-in {
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
